//Default Tournament Server Configuration File

// Double slashes are used for comments and to keep commands from running. Remove the slashes before a specific to run that command.

//set Gametype to 1 for Tournament Mode
g_gametype 1

//Tourney Settings Below
//set 1 on 1 match fraglimit. Set to 0 for no limit.
fraglimit 0
//set 1 on 1 match timelimit. Set to 0 for no limit.
timelimit 15
//set Maximum number of clients
sv_maxclients 8

//set host name that shows up in server list. Change below to your server name preference and remove the //
//sv_hostname "Q3A Tourney Server"

//set message of the day that players see while connecting to the server. Must be set before level loads. Change below to your message of the day preference and remove the //
//g_motd "Good Luck!"

//set requirement for client password. 1=require password, 0=no password required (Default: 0)
sv_privateClients 0
//set password for private server "" for no password
sv_privatePassword ""

//set remote console password
rconpassword ""

//turn on/off pak cheat check. 1=on, 0=off (Default: 1)
sv_pure 1

//set max allowable rate for a client. 8000 to 10000 recommended. Max: 25000 (Default: 0)
sv_maxRate 10000

//add up to 4 additional master servers to report to
sv_master2 ""
sv_master3 ""
sv_master4 ""
sv_master5 ""

//map cycling will not work for tournament mode as fraglimit and timelimit affect each 1 on 1 match and not the level changes. 
//level changes may be accomplished with the console, remote console, or vote
//the following lists the most commonly used 1 on 1 maps and starts the first one 
//you may remark or unremark levels as needed to change the default start map

map q3dm1
//map q3dm2
//map q3tourney1 
//map q3tourney2 
//map q3tourney3 
//map q3tourney4 
//map q3tourney5 
//map q3tourney6 

//set voting. 1=on, 0=off (Default: 1)
g_allowvote 1

//set power multiples for quad damage (Default: 3)
g_quadfactor 3

//syncronous clients is necessary to allow client demo recording.  Setting to 1 allows recording but play is not smooth and is not recommended for normal use. (Default: 0)
g_syncronousClients 0
